:root {
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-accent: 'Raleway', sans-serif;
    --color-primary: #45505B;
    --color-secondary: #F2F3F5;
    --color-accent: #0563BB;
    --color-overlay: rgba(255, 255, 255, 0.7);
}

/*-----------------------------------------------------------------------------
 * Defaults
 *-----------------------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary);
}

/*-----------------------------------------------------------------------------
 * Utility classes
 *-----------------------------------------------------------------------------*/
.bg_transparent {
    background-color: rgba(0, 0, 0, 0);
}

.font_color_primary {
    color: var(--color-primary);
}

.font_color_accent {
    color: var(--color-accent);
}

.font_family_accent {
    font-family: var(--font-family-accent);
}

.no_underline {
    text-decoration: none !important;
}

.outline_accent {
    border: 2px solid var(--color-accent);
}

.pill {
    border-radius: 50rem;
}

/*-----------------------------------------------------------------------------
 * Nav 
 *-----------------------------------------------------------------------------*/
 nav {
    z-index: 9999;
 }

.nav-link {
    font-size: 1.5rem;
    width: 64px;
    height: 64px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.nav-link.active {
    color: #FFFFFF;
    background-color: var(--color-accent);
    border-radius: 50rem !important;
} 

.nav-link:hover {
    padding: 0 20px !important;
    width: auto;
    color: #FFFFFF;
    background-color: var(--color-accent);
    border-radius: 50rem !important;
}

.nav-link:hover.nav-link i::after {
    display: inline-block;
    padding-left: 8px;
    vertical-align: middle !important;
    content: attr(data-label);
    font-family: var(--font-family-primary);
    font-size: 1rem;
    text-transform: capitalize;
}

.navbar-toggler {
    top: 0;
    right: 0;
    font-size: 2rem;
    color: var(--color-primary);
}

.navbar-toggler:focus {
    outline: none;
}

@media screen and (max-width: 991px) {
    .navbar .collapsing, .navbar .show {
        width: 300px;
        background-color: rgba(0, 0, 0, 0.1);
        -webkit-transition: all ease-in-out 0.5s;
           -moz-transition: all ease-in-out 0.5s;
             -o-transition: all ease-in-out 0.5s;
                transition: all ease-in-out 0.5s;
    }
}

/*-----------------------------------------------------------------------------
 * Hero
 *-----------------------------------------------------------------------------*/
#hero {
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../img/hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hero .container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--color-overlay);
}

#hero .jumbotron {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

/*-----------------------------------------------------------------------------
 * About section
 *-----------------------------------------------------------------------------*/
#about .card img {
    height: 250px;
}

/*-----------------------------------------------------------------------------
 * Portfolio section
 *-----------------------------------------------------------------------------*/
#portfolio {
    background: rgb(232,236,245);
    background: linear-gradient(165deg, rgba(232,236,245,1) 50%, rgba(255,255,255,1) 50%);
}

#portfolio .carousel {
    margin-bottom: 48px;
}

#portfolio .card .carousel-indicators {
    transform: translateY(200%);
}

#portfolio .card .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-accent);
}

/*-----------------------------------------------------------------------------
 * Contact section
 *-----------------------------------------------------------------------------*/
#contact {
    background: rgb(232,236,245);
    background: linear-gradient(165deg, rgba(255,255,255,1) 50%, rgba(232,236,245,1) 50%);
}